# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.env
.venv/
venv/
env/

# VS Code / macOS
.DS_Store
.vscode/

# Testing / cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Build
build/
dist/
*.egg-info/

# Data / artifacts
dataset/
*.pkl
results/triplets_cache.pkl
